<nav class="border-b-2 border-gray-400">
    <div class="Site Title"> <a href="/">
            <h1 class="text-3xl flex justify-center md:mt-10 px-3 uppercase font-extrabold"> JJ's Quotes, Blogs, and Dreams </h1>
        </a>
    </div>
    <ul class="py-2 px-2 text-xl flex justify-center md:justify-end text-teal-400" >
        <li><a href="/">Blogs</a></li>
        <li class="ml-3"><a href="/about">About</a></li>
        <li class="ml-3 mr-2"><a href="/blogs/create">Add Blog</a></li>
    </ul>
</nav>