<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body class="font-body">
    <%- include("./partials/nav.ejs") %>

    <div>
      <div>
        <h2 class="text-4xl font-bold px-3 pt-2 pb-4">About Us</h2>
      </div>
      <div class="about">
        <p class="text-2xl py-2 px-3">
          Here at JJ's Quotes, Blogs, and Dreams we just *love*
          to...well...quote, blog, and dream! Short blogs, long quotes,
          ridiculous dreams - we just can't write enough!
        </p>
      </div>
      <div class="about">
        <p class="text-2xl py-2 px-3">
          Get up here and share that quote! Doesn’t matter if you made it up,
          only partially remember it, or just plain stole it; put it in the box
          and hit that share button.
        </p>
      </div>
      <div class="about">
        <p class="text-2xl py-2 px-3">
          Pants at spelling and grammar? No problem! There is no judgement here.
        </p>

        <p class="text-2xl py-2 px-3">
          "Treat each day as if it were your last, because I'm going to kill
          you, but I'm not super-good with schedules". Joss Whedon.
        </p>

        <p class="text-2xl py-2 px-3">
          "If your dreams don't scare you then you probably didn't eat enough cheese before bed" Jaden Joel.
        </p>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
