<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/nav.ejs") %>

    <h1>If I were you, I'd be a little disappointed after coming this far. </h1>
</body>
</html>